{%extends "base.html"%}

{% block content %}
<p class="TITLE_MAIN">INDI-GO EVENTS</p>
    
<br>
<br>
<br>

<form method="POST">
    <!-- <div class="row">
        <div class="leftcolumn">
            This will display all of the events 
            <div>
                <label for="music">Select an Event:</label>
                <select name="note" id="music">
                    <option value="indie">A</option>
                    <option value="rock">B</option>
                    <option value="punk">C</option>
                </select> 
                    
                <br>
                <br>  
                <label for="description">Enter The Amount of tickets:</label>
                <br>
                <textarea placeholder="0>x<100" name="note" id="description"></textarea>
            </div>
        </div> -->
</form>



{% endblock %}